body {
    font-family: Arial, sans-serif;
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #000000;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #FFFFFF;
	color: black;
}

p {
    margin-top: 20px;
}
