<!DOCTYPE html>
<html>
<head>
    <title>Hacking요모조모</title>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/style.css">
</head>
<body>
	<header>
        <div class="container">
			<div class="header-title">
                <h1>Hacking요모조모</h1>
            </div>
            <div class="header-right">
                <span class="user-info">{{ userid }}님, 환영합니다.</span>
                <a href="http://127.0.0.1:5000/logout" class="header-btn">로그아웃</a>
            </div>
        </div>
    </header>


    <main class="container">
        <div class="main-content">
			<nav class="sidebar">
                <h3>카테고리</h3>
                <ul class="nav-list">
                    <li><a href="#">전체 게시글</a></li>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="http://127.0.0.1:5000/index">자유 게시판</a></li>
                    <li><a href="#">질문과 답변</a></li>
                </ul>
            </nav>

            <section class="content">
                <form action="/upload_post" method="post">
                    <h3>제목을 입력하세요</h3>
                    <input type="text" id="title" name="title" required>
                    <h3>내용을 입력하세요</h3>
                    <textarea id="content" name="content" rows="13" cols="50" required></textarea>
                    <div class="button-to-write-container">
                        <button type="submit">게시글 작성</button>
                        <a href="http://127.0.0.1:5000/index" class="btn-secondary">목록</a>
                    </div>
                </form>
            </section>
        </div>
    </main>

    <footer>
        <div class="footer">
            <p>&copy; 2024 웹해킹 박원철 빡공팟 과제.</p>
        </div>
    </footer>
</body>
</html>
